<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
   <div class="dashboard-container" id="food-app">
    <div class="container">
      <div class="tableBar">
        <el-input v-model="input"  placeholder="请输入设备类型" style="width: 250px" clearable @keyup.enter.native="handleQuery">
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="init"
          ></i>
        </el-input>
        <div class="tableLab">
          <span class="span-btn delBut non" @click="deleteHandle('批量', null)">批量删除</span>

          <el-button type="primary" @click="addDeviceType('add')">
            + 新建设备
          </el-button>
        </div>
      </div>
      <el-table :data="tableData" stripe class="tableBox" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="25"></el-table-column>
        <el-table-column prop="name" label="设备名称"></el-table-column>
        <el-table-column prop="type" label="设备类型"></el-table-column>


        <el-table-column  label="图片" align="center">
          <template slot-scope="scope">
            <el-image style="width: auto; height: 40px; border:none;cursor: pointer;"
                      :src="getImage(scope.row.image)"
                      :preview-src-list="[ `/common/download?name=${scope.row.avatar}` ]" >
              <div slot="error" class="image-slot">
                <img src="./../../images/noImg.png"  style="width: auto; height: 40px; border:none;" >
              </div>
            </el-image>
          </template>
        </el-table-column>

        <el-table-column  label="状况">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.breakdown===0" size="small" type="danger">正常</el-tag>
            <el-tag v-else-if="scope.row.breakdown===1" size="small" type="success">{{scope.row.notification}}</el-tag>
            <el-tag v-if="scope.row.status===0" size="small" type="danger">离线</el-tag>
            <el-tag v-else-if="scope.row.status===1" size="small" type="success">在线</el-tag>
          </template>
        </el-table-column>



        <el-table-column label="操作"   align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" class="delBut non" @click="statusHandle(scope.row)">
              {{ scope.row.status == '1' ? '禁用' : '启用' }}
            </el-button>
            <el-button type="text" size="small" class="blueBug" @click="addDeviceType(scope.row.id)">
              修改
            </el-button>
            <el-button type="text" size="small" class="delBut non" @click="deleteHandle('单删', scope.row.id)">
              删除
            </el-button>

          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        :current-page.sync="page"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/device.js"></script>
    <script>
      new Vue({
        el: '#food-app',
        data() {
          return {
             //输入搜索框
             input: '',

            //分页参数
             counts: 0,
             page: 1,
             pageSize: 10,

             //表格数据
             tableData : [],

            //勾选框
             checkList: []
          }
        },
        computed: {},
        created() {
          this.init()

        },
        mounted() {
        },
        methods: {


          /**
           * 初始化,,分页时调用加载数据
           * @returns {Promise<void>}
           */
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined
            }
            await getDeviceTypePage(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total

              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          /**
           * 返回对应图片地址
           * @param image
           * @returns {string}
           */
          getImage (image) {
            return `/common/download?name=${image}`
          },


          /**
           * 处理查询
           */
          handleQuery() {
            this.page = 1;
            this.init();
          },
          // 添加
          addDeviceType (st) {
            if (st === 'add'){
              window.parent.menuHandle({
                id: '3',
                url: '/backend/page/device/add.html',
                name: '添加设备'
              },true)
            } else {
              window.parent.menuHandle({
                id: '3',
                url: '/backend/page/device/add.html?id='+st,
                name: '修改设备'
              },true)
            }
          },

          /**
           *
           * @param type
           * @param id
           * @returns {*}
           */
          deleteHandle (type, id) {
            if (type === '批量' && id === null) {
              if (this.checkList.length === 0) {
                return this.$message.error('请选择删除对象')
              }
            }
            this.$confirm('确认删除该设备, 是否继续?', '确定删除', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              deleteDevice(type === '批量' ? this.checkList.join(',') : id).then(res => {
                console.log("deleteDevice",res)
                if (res.code === 1) {
                  this.$message.success('删除成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },




          /**
           * 根据id 更改状态
           * @param row  待修改对象
           * @returns {boolean}
           */
          statusHandle (row) {


            const params = {
              id:row.id,
              status: row.status === 0?1:0
            }
            this.$confirm('确认更改该设备状态?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              editDevice(params).then(res => {
                //设备更新成功
                if (res.code === 1) {
                  this.$message.success('设备状态已经更改成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                  this.$message.error('请求出错了：' + err)
              })
            })
          },











          // 全部操作
          handleSelectionChange (val){
            let checkArr = []
            val.forEach((n) => {
              checkArr.push(n.id)
            })
            this.checkList = checkArr
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },




          getImage (image) {
            return `/common/download?name=${image}`
          },
        }
      })
    </script>
</body>
</html>